In [3]:
import sqlite3
def get_cur():
    conn = sqlite3.connect("city.db")
    cur = conn.cursor()
    return cur,conn

In [5]:
cur,conn = get_cur()
cur.execute("select * from cities;")
cur.fetchall()

[('01', 'Jakarta', '8.28', '106.8'),
 ('02', 'Petaling Jaya', '3.15', '101.59'),
 ('03', 'Selangor', '3.07', '101.51')]

In [6]:
cur.description

(('cityid', None, None, None, None, None, None),
 ('cityname', None, None, None, None, None, None),
 ('citylat', None, None, None, None, None, None),
 ('citylong', None, None, None, None, None, None))

In [13]:
cur.execute("select * from cities where cityid='01';")
cur.fetchall()

[('01', 'Jakarta', '8.28', '106.8')]

In [12]:
cur.execute("select * from cities where cityid='01';")
cur.fetchall()[0]

('01', 'Jakarta', '8.28', '106.8')

In [15]:
cur.execute("select * from cities where cityid='01';")
data = cur.fetchall()
data[0]

('01', 'Jakarta', '8.28', '106.8')