## Pythonic way of coding: Comprehension

In [1]:
cities = ['Dubai','Delhi','Dublin','Jakarta','Johanesberg','Sydney','London','Mumbai','Bangalore']

# get the list of cities having d letter in it


# without comprehension
dcities = []

for city in cities:
    if 'd' in city.lower():
        dcities.append(city)

print(dcities)

['Dubai', 'Delhi', 'Dublin', 'Sydney', 'London']

In [2]:
# With comprehension

dcities2 = [city for city in cities if 'd' in city.lower()]
print(dcities2)

['Dubai', 'Delhi', 'Dublin', 'Sydney', 'London']

In [3]:
# Use comprehension to covert all city names into lowercase
lowercities = [c.lower() for c in cities]
print(lowercities)

['dubai', 'delhi', 'dublin', 'jakarta', 'johanesberg', 'sydney', 'london', 'mumbai', 'bangalore']

Template 1 - data transformation

    [f(x) for x in mylist]

Template 2 - filtering

    [f(x) for x in mylist if condition]

Template 3 - conditional transformation

    [f(x) if condition else g(x) for x in mylist]

In [4]:
mylist = [2,4,5,6,3,2,5,9,8,4,2]

# get square of all values in a new list : sqmylist
# use template 1
sqmylist = [k**2 for k in mylist]
print(sqmylist)

[4, 16, 25, 36, 9, 4, 25, 81, 64, 16, 4]

In [5]:
# get only even numbers (numbers which are divisible by 2)
evenlist = [k for k in mylist if k%2==0]
print(evenlist)

[2, 4, 6, 2, 8, 4, 2]

In [6]:
# conditional transformation: get square of even numbers and cube of odd numbers
newlist = [k**2 if k%2==0 else k**3 for k in mylist]
print(newlist)

[4, 16, 125, 36, 27, 4, 125, 729, 64, 16, 4]

In [1]:
10%2

0

In [2]:
15%2

1

## Task
Given below list
       
        mylist = ['Dubai','Dublin','Delhi','Chennai','Mumbai','Melbourne','Wellington']
    
1. create a new list for cities starting with letter 'D'
2. Convert all the cities starting with 'D' into uppercase and rest into lowercase
3. Create a new list for cities having information about number of letters in the city name

In [3]:
k = 'Jakarta'
len(k)

7

In [5]:
cities = ['Dubai','Dublin','Delhi','Chennai','Mumbai','Melbourne','Wellington']

# get the list of cities starting d letter in it


# without comprehension
dcities = []

for city in cities:
    if city.lower()[0]=='d':
        dcities.append(city)
print(dcities)

['Dubai', 'Dublin', 'Delhi']

In [6]:
# task 1: with comprehension
dcities = [c for c in cities if c[0].lower=='d']
print(dcities)

[]

In [7]:
# task 2: Convert all the cities starting with 'D' into uppercase and rest into lowercase
newcities = [c.upper() if c[0].lower()=='d' else c.lower() for c in cities]
print(newcities)

['DUBAI', 'DUBLIN', 'DELHI', 'chennai', 'mumbai', 'melbourne', 'wellington']

In [8]:
# task 3: Create a new list for cities having information about number of letters in the city name
num = [len(c) for c in cities]
print(num)

[5, 6, 5, 7, 6, 9, 10]

In [9]:
# create a dictionary with city as key, the size of it as value
# without comprehension
mydict = {}
for city in cities:
    mydict[city] = len(city)

print(mydict)

{'Dubai': 5, 'Dublin': 6, 'Delhi': 5, 'Chennai': 7, 'Mumbai': 6, 'Melbourne': 9, 'Wellington': 10}

In [10]:
# with comprehension
mydict = {c:len(c) for c in cities}
print(mydict)

{'Dubai': 5, 'Dublin': 6, 'Delhi': 5, 'Chennai': 7, 'Mumbai': 6, 'Melbourne': 9, 'Wellington': 10}