## OOPs fundamentals

In [1]:
# A class can be considered as a template for creating objects

class employee:
    age = 18
    name = ""
    salary = 5000

In [2]:
# create an object of type class employee / creating an instance of class employee
e1 = employee()
# e1 is an object of type class employee
print(e1.age,e1.salary,e1.name)

18 5000

In [3]:
e1.name = "James"
e1.age = 45
e1.salary = 2000
print(e1.age,e1.salary,e1.name)

45 2000 James

In [4]:
e2 = employee()
print(e2.age,e2.salary,e2.name)

18 5000

In [5]:
e2.name = "Jennifer"
print("For e1 ",e1.age,e1.salary,e1.name)
print("For e2 ",e2.age,e2.salary,e2.name)

For e1  45 2000 James
For e2  18 5000 Jennifer

In [7]:
class employee:
    age = 18
    name = ""
    salary = 5000

    def greet():
        return "Hey good morning"

In [8]:
e1 = employee()

In [9]:
employee

__main__.employee

In [10]:
e1

In [11]:
print(e1.age,e1.salary)

18 5000

In [12]:
e1.greet() # this will throw error # thsi line is equivalent to employee.greet(e1)

TypeError: greet() takes 0 positional arguments but 1 was given

In [13]:
employee.greet()

'Hey good morning'

In [14]:
# e1.greet() generates error because, when we try to access a function with reference to an object
# the object by default passes itself(instance of class) as the first input argument

class employee:
    age = 18
    name = ""
    salary = 5000

    def greet(self):
        print(self)
        return "Hey good morning"

In [15]:
e1 = employee()

In [16]:
e1.greet() # this is equivalent to employee.greet(e1)

<__main__.employee object at 0x0000022C22477B50>

'Hey good morning'

In [17]:
class employee:
    age = 18
    name = ""
    salary = 5000

    def greet(self):
        print(f"hey {self.name}, your age is {self.age} and salary is {self.salary}")
        return "Hey good morning"

    def add(self,a,b):
        c = a+b
        return c

In [18]:
e1 = employee()
e1.name='John'

In [19]:
e1.greet()

hey John, you age is 18 and salary is 5000

'Hey good morning'

In [20]:
class employee:
    age = 18
    name = ""
    salary = 5000

    def greet(self):
        print(f"hey {self.name}, your age is {self.age} and salary is {self.salary}")
        return "Hey good morning"

    def add(self,a,b):
        c = a+b
        return c

In [21]:
class manager(employee):
    team_size=2
    def promote(self,increment):
        self.salary = self.salary + increment
        return f"New salary is {self.salary}"

In [22]:
m = manager()
m.name = "Anshu"
print(m.name,m.age,m.salary)

Anshu 18 5000

In [23]:
m.greet()

hey Anshu, your age is 18 and salary is 5000

'Hey good morning'

In [24]:
m.promote(4500)

'New salary is 9500'

In [25]:
m.team_size

2

In [26]:
e1 = employee()
e1.age

18

In [27]:
isinstance(e1,employee)

True

In [28]:
isinstance(m,employee)

True

In [29]:
isinstance(m,manager)

True

In [30]:
isinstance(e1,manager)

False

In [31]:
issubclass(manager,employee)

True

In [32]:
issubclass(employee,manager)

False