# Working with sqlite database

In [1]:
import sqlite3

In [2]:
# create a database or connect to existing database
conn = sqlite3.connect("mydb.db")

In [4]:
# create a table

query = "create table if not exists customers (cid int primary key not null, Name text not null, Age int not null, City text not null);"
conn.execute(query)

In [5]:
# inserting data into the table
query = "insert into customers(cid,Name,Age,City) values(?,?,?,?)"

In [6]:
conn.execute(query,(101,"Anshu",45,"Delhi"))
conn.execute(query,(102,"Max",37,"Chennai"))
conn.execute(query,(103,"Jenny",25,"Mumbai"))

In [7]:
# select query = to fetch data
query = "select * from customers"
data= conn.execute(query)
for row in data:
    print(row)

(101, 'Anshu', 45, 'Delhi')
(102, 'Max', 37, 'Chennai')
(103, 'Jenny', 25, 'Mumbai')