<a href="https://colab.research.google.com/github/anshupandey/Python-Programming/blob/main/Python_Data_Structure_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Data Structure Exercises - 1

**Exercise 1: Given two lists create a third list by picking an odd-index element from the first list and even index elements from the second.**

In [1]:
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]

Exercise 2: Given a list, remove the element at index 4 and add it to the 2nd position and at the end of the list

In [2]:
list1 = [54, 44, 27, 79, 91, 41]

**Exercise 3: Given a list slice it into 3 equal chunks and reverse each chunk**

In [3]:
sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]


**Exercise 4: Iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element**

In [4]:
listdata = [11, 45, 8, 11, 23, 45, 23, 45, 89]

**Exercise 5: Given a two list of equal size create a Python set such that it shows the element from both lists in the pair**

In [6]:
flist = [2, 3, 4, 5, 6, 7, 8]
slist = [4, 9, 16, 25, 36, 49, 64]

**Exercise 6: Given the following two sets find the intersection and remove those elements from the first set**

In [7]:
fset = {65, 42, 78, 83, 23, 57, 29}
sset = {67, 73, 43, 48, 83, 57, 29}

**Exercise 7: Given two sets, Checks if One Set is a subset or superset of another Set. if the subset is found delete all elements from that set**

In [ ]:
firstSet = {27, 43, 34}
secondSet = {34, 93, 22, 27, 43, 53, 48}

**Exercise 8: Iterate a given list and Check if a given element already exists in a dictionary as a key’s value if not delete it from the list**

In [ ]:
rollNumber = [47, 64, 69, 37, 76, 83, 95, 97]
sampleDict ={'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}


**Exercise 9: Given a dictionary get all values from the dictionary and add them to a list but don’t add duplicates**

In [8]:
speed ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}


**Exercise 10: Remove duplicate from a list and create a tuple and find the minimum and maximum number**

In [9]:
sampleList = [87, 45, 41, 65, 94, 41, 99, 94]